
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="searchCtrl">
    <div id="spinner-16point" ng-show="waiting"></div>
    <div id="spinner-background" ng-show="waiting"></div>
    <div class="leftNav" style="padding-top: 20px;">
        <div class="nav-icon onedrive" data-root="Sites" ng-class="{'selected': activeNav == 'OneDrive'}" ng-click="toggleNav('OneDrive')"></div>
        <div class="nav-icon sites" data-root="OneDrive" ng-class="{'selected': activeNav == 'Sites'}" ng-click="toggleNav('Sites')"></div>
    </div>
    <div class="mainBody">
        <h2 style="padding-left: 10px;" id="header">{{breadcrumb}}</h2>
        <div class="row">
            <div class="col-xs-12">
                <div class="ms-List ms-List--grid">
                    <div class="ms-ListItem ms-ListItem--image is-selectable" ng-class="{'is-selected': item.selected}" ng-repeat="item in items" ng-click="toggle(item)">
                        <div class="ms-ListItem-image" style="padding: 3px;"><img src="~/Images/{{item.Extension}}.png" style="width: 60px; height: 60px;" /></div>
                        <span class="ms-ListItem-primaryText">{{item.Filename}}</span>
                        <span class="ms-ListItem-secondaryText">{{item.SiteTitle}}</span>
                        <span class="ms-ListItem-tertiaryText">{{item.Path}}</span>
                        <span class="ms-ListItem-metaText">{{item.Size}}</span>
                        <div class="ms-ListItem-selectionTarget js-toggleSelection"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-footer">
            <button class="ms-Button" ng-click="ok()">
                <span class="ms-Button-label">Ok</span>
            </button>
            <button class="ms-Button" ng-click="cancel()">
                <span class="ms-Button-label">Cancel</span>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var auth_details = { rootToken: '@ViewData["RootToken"]', rootEndpoint: '@ViewData["RootEndpoint"]', myToken: '@ViewData["MyToken"]', myEndpoint: '@ViewData["MyEndpoint"]' };
    </script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app.js"></script>
}
